apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-code-with-quarkus-33j4
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-code-with-quarkus-33j4
    app.kubernetes.io/part-of: quarkus
  name: devfile-sample-code-with-quarkus-33j4
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: devfile-sample-code-with-quarkus-33j4
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: devfile-sample-code-with-quarkus-33j4
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-pwlj-tenant/quarkus/devfile-sample-code-with-quarkus-33j4@sha256:f6274f760a4fcfed49c14a7e681f4ef2d6a5c5e7b727048e26601c8974dda731
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
